{{template "base" .}}

{{define "title"}}
Home
{{end}}

{{define "main"}}
  <div class="containerr">
    <div class="programm-title">
      <p>Our Spa & Cosmetology Salon</p>
      <div class="rolling-ball"></div>
    </div>
    <section class="about_us_section">
      <h2 class="text_h2_aboutus center">About Us</h2>
      <p class="text_p_aboutus">Welcome to our luxurious spa and cosmetology salon, where we strive to provide a
        relaxing
        and rejuvenating
        experience for our clients. Our mission is to enhance your well-being and beauty through our range of services,
        delivered by a team of skilled professionals.</p>
      <div class="mission-values">
        <h2 class="text_h2_aboutus center">Our Mission & Values</h2>
        <p class="text_p_aboutus">We are dedicated to delivering exceptional spa and cosmetology services that promote
          self-care, beauty, and
          relaxation. Our values include professionalism, customer satisfaction, and a commitment to using high-quality
          products and techniques.</p>
      </div>
    </section>

    <div class="arrowAnim">
      <div class="arrowSliding delay">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
      <div class="arrowSliding delay1">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
      <div class="arrowSliding delay2">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
    </div>




    <section class="about_us_section">
      <h2 class="text_h2_aboutus center">Cosmetology Services</h2>
      <p class="text_p_aboutus">Indulge in our wide array of cosmetology services designed to enhance your natural
        beauty.
        From hair styling and
        coloring to skincare and nail care, our expert cosmetologists are here to cater to your unique needs. Explore
        our
        services and treat yourself to a pampering experience.</p>
      <div>
        <h4 class="text_h4_aboutus center">Cosmetology Highlights</h4>
        <ul>
          <li>Laser hair removal</li>
          <li>Facial cleansing</li>
          <li>Mesotherapy</li>
          <li>Peels</li>
          <li>Microdermabrasion</li>
          <li>Botox and fillers</li>
        </ul>
      </div>
    </section>

    <div class="arrowAnim2">
      <div class="arrowDown">
        <img src="../static/img/photo/arrow_downward_alt_FILL0_wght400_GRAD0_opsz24.svg" class="arrowDown">
      </div>
    </div>

    <section class="about_us_section">
      <h2 class="text_h2_aboutus center">Spa programm</h2>
      <p class="text_p_aboutus">Immerse yourself in the serenity of our spa, designed to provide a tranquil escape from
        the hustle and bustle of
        everyday life. Our spa facilities are equipped with state-of-the-art amenities to ensure a rejuvenating
        experience
        for our guests.</p>
      <div>
        <h4 class="text_h4_aboutus center">Spa Highlights</h4>
        <ul>
          <li>Relaxing Massage Therapies</li>
          <li>Aromatherapy Sessions</li>
          <li>Facial and Skin Treatments</li>
          <li>Hydrotherapy Pools</li>
          <li>Steam Rooms and Saunas</li>
          <li>Yoga and Fitness</li>
        </ul>
      </div>
    </section>

    <div class="arrowAnim">
      <div class="arrowSliding delay">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
      <div class="arrowSliding delay1">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
      <div class="arrowSliding delay2">
        <img src="../static/img/photo/keyboard_arrow_down_FILL0_wght400_GRAD0_opsz24.svg" class="arrow">
      </div>
    </div>


    <section class="about_us_section">
      <h2 class="text_h2_aboutus center">Our Staff</h2>
      <div class="staff-profiles">
        <div class="staff-member">
          <img src="../static/img/images/i.png" alt=" Photo" class="staff-photo">
          <h3>Galymzhan Syrymbet</h3>
          <p class="text_p_aboutus">Manager</p>
        </div>
        <div class="staff-member">
          <img src="../static/img/images/i.png" alt=" Photo" class="staff-photo">
          <h3>Bekzat Stanbek</h3>
          <p class="text_p_aboutus">Spa Manager</p>
        </div>
        <div class="staff-member">
          <img src="../static/img/images/i.png" alt=" Photo" class="staff-photo">
          <h3>Abai Akylzanuly</h3>
          <p class="text_p_aboutus">Lead Cosmetologist</p>
        </div>
      </div>
    </section>
    {{end}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>