{{template "base" .}}

{{define "title"}}
Cosmetology
{{end}}

{{define "main"}}
        <div class="programm-title">
            <p>Self-Care Resources</p>
            <div class="rolling-ball"></div>
        </div>
        <div class="container">
            <div class="text_left text-success">
                <p>Organic Cosmetics</p>
            </div>
            <div class="row row-cols-1 row-cols-md-12 g-4">
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-12 g-4 justify-content-center">
                        {{if .Products}}
                        {{range .Products}}
                        <div class="col-md-4">
                            <div class="card h-100">
                                <img src="{{.ImagePath}}" class="card-img-top" id="height" alt="Bath Salts with Essential Oils">
                                <div class="card-body">
                                    <h5 class="card-title">{{.Name}}</h5>
                                    <p class="card-text">{{.Description}}</p>
                                    <p class="card-text fw-semibold">Price: ${{.Price}}</p>

                                    <div class="modal fade" id="buyModal1" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel1"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="buyModalLabel1">{{.Name}}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="purchase-form" data-product-number="1">
                                                        <div class="form-group">
                                                            <label for="name">Name:</label>
                                                            <input type="text" class="form-control" id="name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="surname">Surname:</label>
                                                            <input type="text" class="form-control" id="surname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cardNumber">Card Number:</label>
                                                            <input type="text" class="form-control" id="cardNumber" required>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-success" onclick="submitPurchase('buyModal1')">Buy
                                                        Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal1">Buy Now</button>
                            </div>
                        </div>
                        {{end}}
                        {{else}}
                        <h1>NOTHING</h1>
                        {{end}}
                    </div>


            <div class="text_center text-success">
                <p>Therapeutic Baths</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/refreshing_bath_salt_utama_spice_aromatherapy_bath_salts_essential_oil_skin.jpg"
                            class="card-img-top" id="height" alt="Aromatic Body Oils">
                        <div class="card-body">
                            <h5 class="card-title">Bath Salts with Essential Oils</h5>
                            <p class="card-text">Relaxing bath salts enriched with aromatic essential oils.</p>
                            <p class="card-text fw-semibold">Price: $10 - $30</p>

                            <div class="modal fade" id="buyModal4" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel4" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel4">Bath Salts with Essential
                                                Oils</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="4">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal4')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal4">Buy
                            Now</button>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/MYTREAT_BDAY_OF_COLLECTION-49_a54e2ee0-61e8-4a56-8d3c-d6211f58605b.png"
                            class="card-img-top" id="height" alt="Bath Salts with Essential Oils">
                        <div class="card-body">
                            <h5 class="card-title">Aromatic Body Oils</h5>
                            <p class="card-text">Nourishing body oils with delightful aromatic properties.</p>
                            <p class="card-text fw-semibold">Price: $15 - $40</p>

                            <div class="modal fade" id="buyModal5" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel5" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel5">Purchase Bath Salts with
                                                Essential Oils</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="5">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal5')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal5">Buy
                            Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/flat-lay-arrangement-with-comb-soap_23-2148261145.png" class="card-img-top"
                            id="height" alt="Aromatic Body Oils">
                        <div class="card-body">
                            <h5 class="card-title">Massage Brushes and Sponges</h5>
                            <p class="card-text">Enhance your bath experience with these therapeutic tools.</p>
                            <p class="card-text fw-semibold">Price: $5 - $20</p>

                            <div class="modal fade" id="buyModal6" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel6" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel6">Massage Brushes and Sponges
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="6">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal6')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal6">Buy
                            Now</button>
                    </div>
                </div>
            </div>
            <div class="text_right text-success">
                <p>Products for Physical Activity</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/020121-small-weights-workout-lead-2000-3da11be0c9f4413eb71eebe72d6c2553.jpg"
                            class="card-img-top" id="height" alt="Bath Salts with Essential Oils">
                        <div class="card-body">
                            <h5 class="card-title">Light Dumbbells</h5>
                            <p class="card-text">Variety of lightweight dumbbells for different workouts.</p>
                            <p class="card-text fw-semibold">Price: 10$ - $30</p>

                            <div class="modal fade" id="buyModal7" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel7" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel7">Light Dumbbells</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="7">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal7')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal7">Buy
                            Now</button>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/man-using-green-gymreapers-resistance-band-around-leg.jpeg"
                            class="card-img-top" id="height" alt="Aromatic Body Oils">
                        <div class="card-body">
                            <h5 class="card-title">Exercise Bands</h5>
                            <p class="card-text">Elastic bands for a variety of exercise routines.</p>
                            <p class="card-text fw-semibold">Price: $5 - $20</p>

                            <div class="modal fade" id="buyModal8" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel8" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel8">Exercise Bands</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="8">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal8')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal8">Buy
                            Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../static/img/images/physioworld-exercise-mat-bulk-buy-discounts-available-physioworld-890030_1843x.png"
                            class="card-img-top" id="height" alt="Aromatic Body Oils">
                        <div class="card-body">
                            <h5 class="card-title">Specialized Fitness Mats</h5>
                            <p class="card-text">High-quality mats designed for fitness activities.</p>
                            <p class="card-text fw-semibold">Price: $20 - $40</p>

                            <div class="modal fade" id="buyModal9" tabindex="-1" role="dialog"
                                aria-labelledby="buyModalLabel9" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="buyModalLabel9">Specialized Fitness Mat
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="purchase-form" data-product-number="9">
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="cardNumber">Card Number:</label>
                                                    <input type="text" class="form-control" id="cardNumber" required>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success"
                                                onclick="submitPurchase('buyModal9')">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyModal9">Buy
                            Now</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
            {{end}}

    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        function submitPurchase(modalId) {
            const formData = {};
            const formElements = document.querySelector(`#${modalId} .purchase-form`).elements;
            const productNumber = document.querySelector(`#${modalId} .purchase-form`).getAttribute('data-product-number');

            for (let i = 0; i < formElements.length; i++) {
                const element = formElements[i];
                if (element.tagName === "INPUT") {
                    formData[element.id] = element.value;
                }
            }

            if (!formData.name || !formData.surname || !formData.cardNumber) {
                alert("Please fill in all the fields.");
                return;
            }

            alert(`Successfully purchased product ${productNumber}!`);
        }
    </script>