{{template "base" .}}
{{define "title"}}Signup{{end}}
{{define "main"}}
<form action='/user/signup' method='POST' novalidate class="p-4">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <div class="mb-3 text-center mx-auto" style="width: 40%;">
        <label for="name" class="form-label text-success">Name:</label>
        {{with .Errors.Get "name"}}
        <div class="text-danger">{{.}}</div>
        {{end}}
        <input type='text' name='name' value='{{.Get "name"}}' class="form-control" id="name">
    </div>
    <div class="mb-3 text-center mx-auto" style="width: 40%;">
        <label for="email" class="form-label text-success">Email:</label>
        {{with .Errors.Get "email"}}
        <div class="text-danger">{{.}}</div>
        {{end}}
        <input type='email' name='email' value='{{.Get "email"}}' class="form-control" id="email">
    </div>
    <div class="mb-3 text-center mx-auto" style="width: 40%;">
        <label for="password" class="form-label text-success">Password:</label>
        {{with .Errors.Get "password"}}
        <div class="text-danger">{{.}}</div>
        {{end}}
        <input type='password' name='password' class="form-control" id="password">
    </div>
    <div class="mb-3 text-center mx-auto" style="width: 40%;">
        <label for="phone" class="form-label text-success">Phone number:</label>
        {{with .Errors.Get "phone"}}
        <div class="text-danger">{{.}}</div>
        {{end}}
        <input type='text' name='phone' value='{{.Get "phone"}}' class="form-control" id="phone">
    </div>
    <button type="submit" class="btn btn-success d-block mx-auto">Signup</button>
    {{end}}
</form>
{{end}}